*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0px;
  background-color: whitesmoke;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: white;
  padding: 24px;
  margin: 24px auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}

.input-label {
  display: block;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 16px;
}

#position{
  margin-bottom: 24px;
  width: 100%;
  min-height: 40px;
  border-radius: 4px;
  padding-left: 8px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
}

input:focus, textarea:focus {
  border-color: green;
}

input:invalid, select:invalid, textarea:invalid {
  border-color: red;
}

input:valid, select:valid, textarea:valid {
  border-color: green;
}

button {
  display: block;
  background-color: green;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  border: none;
  min-height: 40px;
  width: 100%;
  margin-top: 32px;
}

button:hover {
  background-color: turquoise;
}

.radio-group {
  border-radius: 4px;
  min-height: 40px;
  width: 100%;
}

.radio-group input[type="radio"] {
  transform: scale(1.5);
}

.radio-group input[type="radio"] + label {
  margin-right: 16px;
}

.radio-group input[type="radio"]:checked {
  border-color: green;
  background-color: green;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  accent-color: green;
  transform: scale(1.5);
}

.radio-group input[type="radio"]:checked + label {
  color: green;
}

input[type="text"], input[type="email"] {
  width: 100%;
  border-radius: 4px;
}

#message {
  width: 100%;
  min-height: 90px;
  border-radius: 4px;
  padding: 8px 16px;
}